/* input.css */

/* Include Tailwind CSS base styles */
@tailwind base;

/* Include Tailwind CSS component styles */
@tailwind components;

/* Include Tailwind CSS utility styles */
@tailwind utilities;

/* Your custom CSS can go here */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
